* {
    box-sizing: border-box;
}

.figures {
    display: flex;
    margin-top: 50px;
}

.square {
    margin-left: 50px;
    width: 200px;
    height: 200px;
    background-color: #F2F2F2;
    border: 1px solid black;
    border-radius: 20px;
}

.pos-rel {
    position: relative;
}

.dot-top-position {
    position: absolute;
    top: 5px;
    width: 20px;
    height: 20px;
    left: 90px;
    background-color: red;
    border-radius: 50%;
    border: 1px solid black;
}

.dot-bottom-position {
    position: absolute;
    bottom: 5px;
    left: 90px;
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    border: 1px solid black;
}

.dot-left-position {
    position: absolute;
    left: 5px;
    top: 90px;
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    border: 1px solid black;
}

.dot-right-position {
    position: absolute;
    right: 5px;
    top: 90px;
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    border: 1px solid black;
}

.line-y-position {
    position: absolute;
    top: 15px;
    left: 97px;
    height: 105px;
    width: 6px;
    background-color: black;
}

.line-x-position {
    position: absolute;
    right: 35px;
    top: 97px;
    height: 6px;
    width: 80px;
    background-color: black;
}

.dot-top-transform {
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    border: 1px solid black;
    transform: translate(90px, 5px);
}

.dot-bottom-transform {
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    border: 1px solid black;
    transform: translate(90px, 134px);
}

.dot-left-transform {
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    border: 1px solid black;
    transform: translate(5px, 30px);
}

.dot-right-transform {
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    border: 1px solid black;
    transform: translate(173px, 69px);
}

.line-y-transform {
    height: 105px;
    width: 6px;
    background-color: black;
    transform: translate(97px, -70px);
}

.line-x-transform {
    height: 6px;
    width: 80px;
    background-color: black;
    transform: translate(83px, 15px);
}